/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.accent{
   @apply text-green-400
}

@import url('https://unpkg.com/pattern.css');

* {
   @apply font-mono  !important;
}

.layout {
   top:72px;
   left:0;
   right:0;
   height: calc(100vh - 72px);
}

div {
   -ms-overflow-style: none; /* for Internet Explorer, Edge */
   scrollbar-width: none; /* for Firefox */
   overflow-y: scroll; 
}

div::-webkit-scrollbar {
   display: none; /* for Chrome, Safari, and Opera */
}

#tsparticles{
   width: 100vw;
   height: 100vh;
}

html {
   scroll-behavior: smooth;
 }